<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TNTforge</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ResgistServlet</display-name>
    <servlet-name>ResgistServlet</servlet-name>
    <servlet-class>com.forge.servlet.ResgistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResgistServlet</servlet-name>
    <url-pattern>/ResgistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOneServlet</display-name>
    <servlet-name>LoginOneServlet</servlet-name>
    <servlet-class>com.forge.servlet.LoginOneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOneServlet</servlet-name>
    <url-pattern>/LoginOneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchUserNameServlet</display-name>
    <servlet-name>SearchUserNameServlet</servlet-name>
    <servlet-class>com.forge.servlet.SearchUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUserNameServlet</servlet-name>
    <url-pattern>/SearchUserNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginTwoServlet</display-name>
    <servlet-name>LoginTwoServlet</servlet-name>
    <servlet-class>com.forge.servlet.LoginTwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginTwoServlet</servlet-name>
    <url-pattern>/LoginTwoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordConfirmServlet</display-name>
    <servlet-name>PasswordConfirmServlet</servlet-name>
    <servlet-class>com.forge.servlet.PasswordConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordConfirmServlet</servlet-name>
    <url-pattern>/PasswordConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeServlet</display-name>
    <servlet-name>CodeServlet</servlet-name>
    <servlet-class>com.forge.servlet.CodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeServlet</servlet-name>
    <url-pattern>/CodeServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingSetFilter</display-name>
    <filter-name>EncodingSetFilter</filter-name>
    <filter-class>com.forge.filter.EncodingSetFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingSetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPwdServlet</display-name>
    <servlet-name>ForgotPwdServlet</servlet-name>
    <servlet-class>com.forge.servlet.ForgotPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPwdServlet</servlet-name>
    <url-pattern>/ForgotPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>com.forge.servlet.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.forge.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RedCartServlet</display-name>
    <servlet-name>RedCartServlet</servlet-name>
    <servlet-class>com.forge.servlet.RedCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedCartServlet</servlet-name>
    <url-pattern>/RedCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutservlet</display-name>
    <servlet-name>LogOutservlet</servlet-name>
    <servlet-class>com.forge.servlet.LogOutservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutservlet</servlet-name>
    <url-pattern>/LogOutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddressServlet</display-name>
    <servlet-name>AddressServlet</servlet-name>
    <servlet-class>com.forge.servlet.AddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressServlet</servlet-name>
    <url-pattern>/AddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.forge.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>messageServlet</display-name>
    <servlet-name>messageServlet</servlet-name>
    <servlet-class>com.forge.servlet.messageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>messageServlet</servlet-name>
    <url-pattern>/messageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodetwoServlet</display-name>
    <servlet-name>CodetwoServlet</servlet-name>
    <servlet-class>com.forge.servlet.CodetwoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodetwoServlet</servlet-name>
    <url-pattern>/CodetwoServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CheckSessionFilter</display-name>
    <filter-name>CheckSessionFilter</filter-name>
    <filter-class>com.forge.filter.CheckSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckSessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveGoods</display-name>
    <servlet-name>RemoveGoods</servlet-name>
    <servlet-class>com.forge.servlet.RemoveGoods</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveGoods</servlet-name>
    <url-pattern>/RemoveGoods</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessProcessServlet</display-name>
    <servlet-name>MessProcessServlet</servlet-name>
    <servlet-class>com.forge.servlet.MessProcessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessProcessServlet</servlet-name>
    <url-pattern>/MessProcessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendServlet</display-name>
    <servlet-name>SendServlet</servlet-name>
    <servlet-class>com.forge.servlet.SendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendServlet</servlet-name>
    <url-pattern>/SendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMSMServlet</display-name>
    <servlet-name>SendMSMServlet</servlet-name>
    <servlet-class>com.forge.servlet.SendMSMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMSMServlet</servlet-name>
    <url-pattern>/SendMSMServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.forge.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListServlet</display-name>
    <servlet-name>UserListServlet</servlet-name>
    <servlet-class>com.forge.servlet.UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListServlet</servlet-name>
    <url-pattern>/UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LockUserServlet</display-name>
    <servlet-name>LockUserServlet</servlet-name>
    <servlet-class>com.forge.servlet.LockUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LockUserServlet</servlet-name>
    <url-pattern>/LockUserServlet</url-pattern>
  </servlet-mapping>
</web-app>